/experimentos
/experimentos/*
/pgAdmin/utils/.svn/*
/pgAdmin/db/.svn/*
/pgAdmin/slony/.svn/*
/pgAdmin/include/pgscript/generators/.svn/*
/pgAdmin/ctl/.svn/*
/pgAdmin/pgscript/statements/.svn/*
/pgAdmin/pgscript/objects/.svn/*
/pgAdmin/pgscript/utilities/.svn/*
/pgAdmin/schema/.svn/*
/pgAdmin/pgscript/utilities/m_apm/.svn/*
/pgAdmin/include/db/.svn/*
/pgAdmin/include/dlg/.svn/*
/pgAdmin/frm/.svn/*
/pgAdmin/include/frm/.svn/*
/pgAdmin/include/images/.svn/*
/pgAdmin/include/gqb/.svn/*
/pgAdmin/include/pgscript/exceptions/.svn/*
/pgAdmin/include/pgscript/expressions/.svn/*
/pgAdmin/include/pgscript/.svn/*
/pgAdmin/include/debugger/.svn/*
/pgAdmin/include/parser/.svn/*
/pgAdmin/pgscript/generators/.svn/*
/pgAdmin/debugger/.svn/*
/pgAdmin/include/pgscript/utilities/mapm-lib/.svn/*
/pgAdmin/include/schema/.svn/*
/pgAdmin/include/pgscript/statements/.svn/*
/pgAdmin/include/pgscript/utilities/.svn/*
/pgAdmin/gqb/.svn/*
/pgAdmin/include/utils/.svn/*
/pgAdmin/dlg/.svn/*
/pgAdmin/.svn/*
/pgAdmin/include/agent/.svn/*
/pgAdmin/include/.svn/*
/pgAdmin/include/slony/.svn/*
/pgAdmin/pgscript/exceptions/.svn/*
/pgAdmin/pgscript/expressions/.svn/*
/pgAdmin/include/pgscript/objects/.svn/*
/pgAdmin/pgscript/.svn/*
/pgAdmin/agent/.svn/*
/pgAdmin/ui/.svn/*
/pgAdmin/include/ctl/.svn/*
/pgAdmin/Debug/*
/enc_temp_folder/*
/pgAdmin/utils/.svn
/pgAdmin/db/.svn
/pgAdmin/slony/.svn
/pgAdmin/include/pgscript/generators/.svn
/pgAdmin/ctl/.svn
/pgAdmin/pgscript/statements/.svn
/pgAdmin/pgscript/objects/.svn
/pgAdmin/pgscript/utilities/.svn
/pgAdmin/schema/.svn
/pgAdmin/pgscript/utilities/m_apm/.svn
/pgAdmin/include/db/.svn
/pgAdmin/include/dlg/.svn
/pgAdmin/frm/.svn
/pgAdmin/include/frm/.svn
/pgAdmin/include/images/.svn
/pgAdmin/include/gqb/.svn
/pgAdmin/include/pgscript/exceptions/.svn
/pgAdmin/include/pgscript/expressions/.svn
/pgAdmin/include/pgscript/.svn
/pgAdmin/include/debugger/.svn
/pgAdmin/include/parser/.svn
/pgAdmin/pgscript/generators/.svn
/pgAdmin/debugger/.svn
/pgAdmin/include/pgscript/utilities/mapm-lib/.svn
/pgAdmin/include/schema/.svn
/pgAdmin/include/pgscript/statements/.svn
/pgAdmin/include/pgscript/utilities/.svn
/pgAdmin/gqb/.svn
/pgAdmin/include/utils/.svn
/pgAdmin/dlg/.svn
/pgAdmin/.svn
/pgAdmin/include/agent/.svn
/pgAdmin/include/.svn
/pgAdmin/include/slony/.svn
/pgAdmin/pgscript/exceptions/.svn
/pgAdmin/pgscript/expressions/.svn
/pgAdmin/include/pgscript/objects/.svn
/pgAdmin/pgscript/.svn
/pgAdmin/agent/.svn
/pgAdmin/ui/.svn
/pgAdmin/include/ctl/.svn
/pgAdmin/Debug
/enc_temp_folder
/DatabaseDesignerpgAdmin3.ncb
/DatabaseDesignerpgAdmin3.suo
/pgAdmin/include/images/Thumbs.db
/pgAdmin/pgAdmin3.aps